<div class="nav">
  <h3 class="link" (click)="cambiarRuta('')">Main Page</h3>
  <h3 class="link" (click)="cambiarRuta('accion')">Acción</h3>
  <h3 class="link" (click)="cambiarRuta('aventuras')">Aventuras</h3>
  <h3 class="link" (click)="cambiarRuta('humor')">Humor</h3>
  <h3 class="link" (click)="cambiarRuta('isekai')">Isekai</h3>
  <h3 class="link" (click)="cambiarRuta('juegos')">Juegos</h3>
  <h3 class="link" (click)="cambiarRuta('militar')">Militar</h3>
  <h3 class="link" (click)="cambiarRuta('misterio')">Misterio</h3>
  <h3 class="link" (click)="cambiarRuta('peleas')">Peleas</h3>
  <h3 class="link" (click)="cambiarRuta('policiacas')">Policíacas</h3>
  <h3 class="link" (click)="cambiarRuta('psicologicas')">Psicológicas</h3>
</div>
<router-outlet></router-outlet>
